body{
  box-sizing: border-box;
  padding: 0;
  border: 0;
  background-color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
  font-size: 30px;
  color: green;
}

.logo span{
  color: rgba(217, 217, 14, 0.858);
  color: green;
}

.navigation{
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  margin-top: -2rem;
  max-width: 1225px;
  width: 90vw;
  margin: 0 auto;
  margin-top: -2rem;
}

.navigation-links{
  margin-top: 3rem;
}


.btn button{
  margin-top: 3rem;
  padding: 10px;
  border-radius: 4px;
  border: none;
  width: 100px;
  background-color: green;
  color: white;
}

.btn button:hover{
  background-color: #C9A887;
}

/* Hero section */

.hero{
  background-image: url('/src/images/hero.png');
  background-repeat: no-repeat;
  padding: 8rem;
  border-radius: 4px;
}

.hero-content{
  text-align: center;
  color: white;
  background-color: rgba(14, 14, 13, 0.227);
  padding: 1.5rem;
  border-radius: 4px;
}

.hero-content h1{
  text-align: center;
}

.hero-content p{
  width: 0 auto;
  max-width: 500px;
  margin-left: 22rem;
}

.foodSearch{
  background-color: white;
  padding: 15px;
  border-radius: 4px;
  margin: 10px;
  width: 700px;
  margin-left: 13rem;
  box-shadow: 1px 2px 2px 1px #C9A887;
}

.foodSearch input{
  padding: 10px;
  width: 200px;
  border-radius: 3px;
  border: 2px solid #C9A887;
  margin-left: -10px;
  margin: 10px;
}

.foodSearch select{
  padding: 10px;
  width: 200px;
  border-radius: 3px;
  border: 2px solid #C9A887;
  margin-left: -10px;
}


.foodSearch button{
  padding: 10px;
  border-radius: 3px;
  width: 100px;
  margin-left: 10px;
  cursor: pointer;
  background-color: green;
  border: none;
  color: white;
}

.foodSearch button:hover{
  background-color: #C9A887;
}

/* Cards */

.categories{
  max-width: 1225px;
  width: 90vw;
  margin: 0 auto;
  text-align: center;
}

.categories span hr{
  width: 50px;
  color: green;
  font-size: 30px;
  background-color: green;
  margin-top: 1rem;
}

.cards{
  display: flex;
  justify-content: center;
}

.card{
  border: 1px solid green !important;;
  padding: 20px;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 1px 2px 2px 1px gray transparent;
}

.card:hover{
  background-color: white;
  box-shadow: 2px rgba(128, 128, 128, 0.66);
}


/* Popular */
.popular{
  max-width: 1225px;
  width: 90vw;
  margin: 0 auto;
  margin-top: 3rem;
  background-color: white;
  padding: 4rem;
  border-radius: 4px;
}

.popular span hr{
  width: 50px;
  color: green;
  font-size: 30px;
  background-color: green;
}

.heading h2{
  font-size: 30px;
}

.sub-heading{
  display: flex;
  justify-content: space-between;
  margin-top: -2rem;
}



.popular-cards{
  display: flex;
  margin-left: -0.5rem;
}

.cards1{
  background-color: aliceblue;
  border-radius: 3px;
  padding: 5px;
  margin: 10px;
  width: 200px;
  height: 250px;
}

.main-card1{
  background-image: url('/src/images/food1.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 17px;
  color: white;
}

.cards1 button{
  background-color: white;
  border: 1px solid green;
  margin-top: 15px;
  border-radius: 4px;
  color: green;
}


.cards1 h6{
  margin-top: -1px;
  background-color: rgba(219, 218, 218, 0.651);
  border-radius: 4px;
  width: 30px;
  text-align: center;
  padding: 5px;
}

/* Ads */

.ads{
  max-width: 1225px;
  width: 90vw;
  margin: 0 auto;
  background-image: url("/src/images/hero.png");
  background-repeat: no-repeat;
  padding: 4rem;
  border-radius: 4px;
  margin-top: 3rem;
  color: white;
}

.ads-content{
  background-color: rgba(14, 14, 13, 0.227);
  width: 500px;
  padding: 15px;
}

.ads-content button{
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 3px;
  border: none;
  width: 100px;
}

